@{
    ViewBag.Title = "Account";
}

<h1>@User.Identity.Name</h1>

<div class="ui-grid-a">
	<div class="ui-block-a"><a href="~/Account/LogOff" class="publish" data-role="button" data-theme="a">Logout</a></div>
    <div class="ui-block-b"><a href="~/" data-role="button" data-direction="reverse" data-theme="c">Cancel</a></div>
</div>